<h1>Consumidor</h1>
<hr>
<form action="/Cliente/Index" method="POST">
    id:
    <input type="text" name="Id"/><br/>
    Nome:
    <input type="text" name="Nome"/><br/>
    Emai:
    <input type="text" name="Emai"/><br/>

    <button type="submit">Savar</button>

</form>